                    <div class="row w-100 p-5">
                        <div class="col-md-12">
                            <div class="main-card mb-3 card">
                                <div class="card-header">Đơn hàng
                                    <div class="btn-actions-pane-right">
                                        <div role="group" class="btn-group-sm btn-group">
                                            <button class="active btn btn-focus">Mới</button>
                                            <button class="btn btn-focus">Đã hoàn thành</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Mã đơn hàng</th>
                                                <th>Địa chỉ giao hàng (Thời gian đặt)</th>
                                                <th class="text-center">Giá trị</th>
                                                <th class="text-center">Trạng thái</th>
                                                <th class="text-center"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center text-muted">IDDH345</td>
                                                <td>
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left flex2">
                                                                <div class="widget-heading">222 Nguyễn Cư Trinh Q10 HCM</div>
                                                                <div class="widget-subheading opacity-7">22-08-2020
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center">15.000.000 VND</td>
                                                <td class="text-center">
                                                    <div class="badge badge-warning">Chưa hoàn thành</div>
                                                </td>
                                                <td class="text-center">
                                                    <button type="button" id="PopoverCustomT-1"
                                                        class="btn btn-primary btn-sm">Hoàn thành đơn hàng</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center text-muted">IDDH347</td>
                                                <td>
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left flex2">
                                                                <div class="widget-heading">924 Lê Hồng Phong Q5 HCM</div>
                                                                <div class="widget-subheading opacity-7">22-08-2020</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center">500.000.000 VND</td>
                                                <td class="text-center">
                                                    <div class="badge badge-success">Chưa hoàn thành</div>
                                                </td>
                                                <td class="text-center">
                                                    <button type="button" id="PopoverCustomT-2"
                                                        class="btn btn-primary btn-sm">Hoàn thành đơn hàng</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center text-muted">IDDH321</td>
                                                <td>
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left flex2">
                                                                <div class="widget-heading">152 Xã Đồng Hới H.Châu Lai T. Cần Thơ</div>
                                                                <div class="widget-subheading opacity-7">21-08-2020</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center">60.000.000 VND</td>
                                                <td class="text-center">
                                                    <div class="badge badge-danger">Hoàn thành</div>
                                                </td>
                                                <td class="text-center">
                                                    <button type="button" id="PopoverCustomT-3"
                                                        class="btn btn-primary btn-sm">Hoàn thành đơn hàng</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center text-muted">IDDH55</td>
                                                <td>
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left flex2">
                                                                <div class="widget-heading">606/21 P11 Q13 HCM</div>
                                                                <div class="widget-subheading opacity-7">14-08-2020
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center">12.000.000 VND</td>
                                                <td class="text-center">
                                                    <div class="badge badge-info">Hoàn thành</div>
                                                </td>
                                                <td class="text-center">
                                                    <button type="button" id="PopoverCustomT-4"
                                                        class="btn btn-primary btn-sm">Hoàn thành đơn hàng</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="d-block text-center card-footer">
                                    <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i
                                            class="pe-7s-trash btn-icon-wrapper"> </i></button>
                                    <button class="btn-wide btn btn-success">Cập nhật</button>
                                </div>
                            </div>
                        </div>
                    </div>