<div class="row w-100 p-5">
    <div class="col-lg-12">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">Top sản phẩm</h5>
            <table class="mb-0 table">
                <thead>
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng sản phẩm đã bán</th>
                        <th>Tổng lợi nhuận</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Trà hoa huệ</td>
                        <td>5000</td>
                        <td>500.000.000 VND</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Trà hoa lài</td>
                        <td>5000</td>
                        <td>460.000.000 VND</td>
                    </tr>                    <tr>
                        <th scope="row">3</th>
                        <td>Trà hoa cúc</td>
                        <td>5000</td>
                        <td>440.000.000 VND</td>
                    </tr>                    <tr>
                        <th scope="row">4</th>
                        <td>Trà xanh</td>
                        <td>5000</td>
                        <td>430.000.000 VND</td>
                    </tr>                    <tr>
                        <th scope="row">5</th>
                        <td>Trà thiên thảo</td>
                        <td>5000</td>
                        <td>420.000.000 VND</td>
                    </tr>                    <tr>
                        <th scope="row">6</th>
                        <td>Trà tĩnh mệnh</td>
                        <td>5000</td>
                        <td>410.000.000 VND</td>
                    </tr>                    <tr>
                        <th scope="row">7</th>
                        <td>Trà suy âm</td>
                        <td>5000</td>
                        <td>400.000.000 VND</td>
                    </tr>                    <tr>
                        <th scope="row">8</th>
                        <td>Trà tách bạch</td>
                        <td>5000</td>
                        <td>300.000.000 VND</td>
                    </tr>                    <tr>
                        <th scope="row">9</th>
                        <td>Trà hồng đới</td>
                        <td>5000</td>
                        <td>200.000.000 VND</td>
                    </tr>                    <tr>
                        <th scope="row">10</th>
                        <td>Trà thánh nhiệt</td>
                        <td>5000</td>
                        <td>100.000.000 VND</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
